<h1>Artists index</h1>

<table border="1">
  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td> <%= artist.name %> </td>
        <td> <%= artist.discogsid %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
