<div class="container artists-container">
  <ul id="Grid">
      <% @artists.each do |artist| %>
        <li>
          <%= link_to artist do %>
            <div class="text-center">
              <%= image_tag url_for(artist.avatar), class: "rounded-circle", size: '230x230' %>
              <h3 style="color: #3C4858; font-weight: 300;">
                <%= artist.name %>
              </h3>
            </div>
          <% end %>
        </li>
      <% end %>
  </ul>
</div>
