<div class="container artists-container">
  <ul id="Grid">
      <% @artists.each do |artist| %>
        <li>
          <%= link_to artist do %>
            <div class="text-center">
              <% if artist.artist_image.present? %>
                <%= image_tag artist.artist_image.front.url, class: "rounded-circle", size: '230x230' %>
              <% else %>
              <%= (link_to (image_tag url_for("user.png"), class: "rounded-circle", size: '230x230'), posts_path(artist: artist.name)) %>
            <% end %>
              <h3 style="color: #3C4858; font-weight: 300;">
                <%= artist.name %>
              </h3>
            </div>
          <% end %>
        </li>
      <% end %>
  </ul>
</div>
