<div class="container artists-container">
  <% @artists.each_slice(4) do |artist| %>
    <div class="row justify-content-center">
      <% artist.each do |art| %>
        <%= link_to art do %>
        <div class="col text-center">
           <%= image_tag url_for(art.avatar), class: "rounded-circle", size: '230x230' %>
           <h3 style="color: #3C4858; font-weight: 300;">
             <%= art.name %>
           </h3>
        </div>
        <% end %>
      <!-- Card -->
    <% end %>
  </div>
  <% end %>
</div>
