<div align="center" class="container">
  <div class="col-md-8">
    <div class="card card-profile">
      <div class="card-avatar">
        <br><br>
        <a href="">
        <% if @artist.artist_image.present? %>
          <%= image_tag artist.artist_image.url, class: "rounded-circle", size: '230x230' %>
        <% else %>
            <%= image_tag url_for("user.png"), class: "rounded-circle", size: '230x230' %>
        <% end %>
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= @artist.name %></h4>
        <a href="https://discogs.com/artist/<%= @artist.discogsid %>" class="btn btn-primary btn-round">View on Discogs</a>
      </div>
    </div>
  </div>
</div>
