<div align="center" class="container">
  <div class="col-md-8">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#pablo">
          <%= image_tag url_for(@artist.avatar) %>
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title"><%= @artist.name %></h4>
        <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
      </div>
    </div>
  </div>
</div>
