<%= render 'shared/admin' %>
<div class="card">
	<article class="card-group-item">
		<header class="card-header">
			<h6 class="title">&nbsp;</h6>
		</header>
		<div class="filter-content">
			<div class="card-body">
				<h2>Welcome</h2><br><br>
				<p>
				<%= Time.now.strftime("%H:%M:%S") %>
				</p>
			</div>
		</div>
	</article>
</div>

<%= render 'shared/admin_footer' %>
