<div class="container">
<br>  <p class="text-center">Admin Panel - <a href="../">Back to site</a></p>
<hr>

<div class="row">
	<aside class="col-sm-4">
    <div class="card">
    	<article class="card-group-item">
    		<header class="card-header"><h6 class="title">Database</h6></header>
    		<div class="filter-content">
    			<div class="list-group list-group-flush">
    			  <a href="#" class="list-group-item">Artists
							<span class="float-right badge badge-light round">
								<%= Artist.distinct.count('name') %>
							</span>
						</a>
    			  <a href="#" class="list-group-item">Posts
							<span class="float-right badge badge-light round">
								<%= Post.distinct.count('title') %>
							</span>
						</a>
    			  <a href="#" class="list-group-item">Labels
							<span class="float-right badge badge-light round">
								<%= Label.distinct.count('name') %>
							</span>
						</a>
    			  <a href="#" class="list-group-item">Formats
							<span class="float-right badge badge-light round">
								<%= Format.distinct.count('name') %>
							</span>
						</a>
    			</div>  <!-- list-group .// -->
    		</div>
    	</article> <!-- card-group-item.// -->
      <article class="card-group-item">
        <header class="card-header"><h6 class="title">Tools</h6></header>
        <div class="filter-content">
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item">Charts</a>
            <a href="#" class="list-group-item">Discogs wantlist</a>
          </div>  <!-- list-group .// -->
        </div>
      </article> <!-- card-group-item.// -->
    </div> <!-- card.// -->
	</aside> <!-- col.// -->

  <aside class="col-sm-8">
    <div class="card">
    	<article class="card-group-item">
    		<header class="card-header">
    			<h6 class="title">Welcome </h6>
    		</header>
    		<div class="filter-content">
    			<div class="card-body">

    			</div> <!-- card-body.// -->
    		</div>
  	   </article> <!-- card-group-item.// -->
    </div> <!-- card.// -->




  	</aside> <!-- col.// -->
</div> <!-- row.// -->

</div>
<!--container end.//-->
