<div align="center">
  <table border="0" class="admin-navbar">
    <tr>
      <th><a href="/admin/artists">Artists</a></th>
      <th> · </th>
      <th><a href="/admin/records">Records</a></th>
    </tr>
  </table>
</div>
