<footer class="footer">
  <div class="container-fluid">
    <nav class="">
      <ul>
        <li>
          <a href="https://www.instagram.com/phoenix_records_" target="_blank" data-original-title="Follow me on Instagram" style="font-size:18px!important;">
            <i class="material-icons fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a class="social-icons" href="https://github.com/phoenix-blaze-dev/phoenix-records" target="_blank" data-original-title="Follow me on Instagram" style="font-size:18px!important;">
            <i class="material-icons fa fa-github"></i>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="https://creative-tim.com/presentation">
            About Me
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      <%= Time.current.year %>, made with <i class="material-icons">favorite</i> by
      <a href="https://github.com/phoenix-blaze-dev" target="_blank">Phoenix Blaze</a>
    </div>
  </div>
</footer>
