<footer class="footer">
  <div class="container-fluid">
    <nav class="">
      <ul>
        <li>
          <a href="https://creative-tim.com/presentation">
            About Me
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      <%= Time.current.year %>, made with <i class="material-icons">favorite</i> by
      <a href="https://github.com/phoenix-blaze-dev" target="_blank">Phoenix Blaze</a>
    </div>
  </div>
</footer>
