<div class="container parallax">
  <div class="card" style="width: 94%; margin: 0 auto;">
    <div class="card-body">
      <br>
      <%= image_tag url_for(@post.front.variant(resize: '300x300')), class: "img-fluid box", size: '300x300' %>
      <br>
      <h3 style="color: #3C4858; font-weight: 300; margin: 0 0;"><%= @post.artist.name %> - <%= @post.title %></h3>
      <h3 class="card-title"><%= @post.year %></h3>
      <p class="card-text"></p>
    </div>
  </div>
</div>
