// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container.posts-container {
    margin-top: 50px;
}

.filter-close-button {
  display: flex;
     justify-content: space-between;
}

.filter-close-button .close {
  float: right!important;
}
.filter-close-button .filter {
  float: left!important;
}

.record {
  position: relative;
  top: 0;
  left: 0;
}

.sleeve {
  position: relative;
  top: 0;
  left: 0;
}

.vinyl {
  position: absolute;
  transform: translateX(0%);
  transition: all 1.5s ease;
  top: 0;
  left: 0;
  height: 98%;
  width: 98%;
}

.record:hover > .vinyl {
  transform: translateX(39%) rotate(45deg);
  transition: all 1.5s ease;
}

div, ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* -- FLUID GRID STYLES -- */

#Grid{
  margin-bottom: 40px;
  text-align: justify;
  font-size: 0.1px;
}

#Grid li{
  display: inline-block;
  background: #eee;
  width: 23%;
  margin-bottom: 2.5%;
}

#Grid:after{
  content: '';
  display: inline-block;
  width: 100%;
  /* Border added to make element visible for demonstration purposes */
  /* border-top: 10px dashed #922d8d;  */
}

#Grid .placeholder{
  padding: 0;
  /* Border added to make element visible for demonstration purposes */
  /* border-top: 10px solid #922d8d;  */
}

/* -- MEDIA QUERIES DEFINING RESPONSIVE LAYOUTS -- */

/* 4 COL */

@media (max-width: 4900px){
  #Grid li{
    width: 22%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
  }
}


/* 3 COL */

@media (max-width: 1200px){
  #Grid li{
    width: 31%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
  }
}

/* 2 COL */

@media (max-width: 600px){
  #Grid li{
    width: 48%;
    margin-bottom: 4%;
  }
}

/* SINGLE COL */

@media (max-width: 500px){
  #Grid li{
    width: 100%;
    margin-bottom: 5%;
  }
}

img.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.72), 0 6px 20px 0 rgba(0, 0, 0, 0.58);
}

#Grid li {
  vertical-align: top;
}
