<div class="filter-year">
  <script tye="text/javascript">
    $(':checkbox').click(function() {
    var checked = $(':checkbox').prop('checked');
    if (checked)
        alert('yes');
    else
        alert('no');
    });
  </script>
  <br>
  <div class="checkbox">
  <label>
    <input type="checkbox">
    <span class="box"></span>
    Featured
  </label>
</div>
</div>
