<% if params[:year] %>
<% else %>
<div class="filter-year">
  <span style="font-weight: bold;">Year</span>
  <br>
  <% years = Array.new %>
  <% @posts_all.each do |post| %>
     <% years << post.year %>
  <% end %>
  <% b = Hash.new(0) %>
  <% years.each do |v| %>
     <% b[v] += 1 %>
  <% end %>
  <% b.each do |k, v| %>
    <span>
      <%= link_to k, params.merge({:year => k}).to_enum.to_h %>
    </span>
    <br>
  <% end %>
 </div>
<% end %>
